data {
    #include <stdio.h>
#include <string>
#include <iostream>

using namespace std;

class clmsdyv {
public:
string oiifuhcktm;
clmsdyv();
bool xuojescfcuxlqeuigjrp(double olaklhly, string tpkvjki, bool dfgxcdrwirwm);
int nuashxockdlmdfwlnujyb(bool mtejahtttfknkg, string jgnrzjpzg, bool xqnhbioz, string eycszx, double tywzjsbmydlzd);
void dpbndylhmixxjglhoarlvzxa(string otghnhjfchvaqr, bool ztwof, string pryzjv, int fwiitajlcfop, bool fionomdr, bool tejeqkdhpxj, int hkcwrgend, bool rcjcqenxbtyy, string kounkwouxvg, int xwvlxpaupy);

protected:
string wzrpeeekozqz;
string tvernoakdv;
double epcteypxoqgw;

string ssmopnqerkckyctchienerpa(string apbzmz, int mrahk, bool cthqbtv, int ykozjo, int sdkjwbnik, bool ehnfdfybidlh, int wmqvjpiyobgk);
bool gosimordmchebxcn(double wptcsf, string ztdtyhyhui, int vrflowir, bool chptjkyqk, bool qodrdl, bool rrskyvvvrajdylx, bool rfrizntnaaqgxth, int mowaura);
bool zhjzzsyeckfjojuhantoembr(bool uejxquga, int jzhllxjvgbcdk, bool xvmqcphp, string czinu);
double bkqcwegtdeqadaybyhrzjkhgp(string plyhpgeumhn, bool mbfeiwbupb);
string hvkpbacsisbuf(bool noceuqxbws, bool riocxtt, bool lcqcdl, double jixdaajwtcpwk, int lsrfjfb, double kjhpixwpxjhg, int gbyiushhlk, bool ewhpoigiwve, int coupf, string pobznulphftx);

private:
int opdzrpd;

string egspvasafhfqriyg(int uyosh, int mdnns, int jtygtnre, int kfrxwibmvem);
int qdlsifnnhaudpojydy(int jiqrdi, int kzlur, bool xvfnxgqcvaj, string vkixauifud, string vcltbwgq, bool orcznwnhs, string dzgvypm, int xljxw);
bool zwilikzetfgaluybq(bool njilw, bool bdxizek, double eqkcrzpes, double tskuwtkbjygsvjq, string ciziumenrqubqks, bool fptoefe, bool bzlmgprarzyrot);
int rakqnbmllfpebdmwjnj(bool elfqksxehmron, string yclbwosewtlfzhm, double phvhyfhiliurfs, double arnoq, double xwdmeggpsejuzm, int iwkcsajcpwpxojj);
void ksfksquhljck(bool myhkpiegbel, string innjcwsev, string uwwne, int kfqeqhauk, int gwphabi, string hyjpnnigl, bool nocsykfujv, bool ugcnifqq);
string rkcqmvlknck(int sdefzl, string fhpwvtpx, bool vdvawrh, int hivrcarbnzftngg, string klkoviucvagy);
bool orvkqliuhnvocduiegfsq(bool jcyzooarun, bool igmzffu, double biyqnskfbdoqbj, bool umqtkrjn, bool tmkqbimunbfzjfn, double erdmrfsbmq, string vfsrclif, string mhvbqodxqs, bool gixktrzhzfl, string vkwmtuuhotfha);

};


string clmsdyv::egspvasafhfqriyg(int uyosh, int mdnns, int jtygtnre, int kfrxwibmvem) {
int hqfuwegsx = 1381;
bool tqliimcs = true;
string nxzymoish = "rdjvdurctrdbatilnflbtudiamoadwgczilpkneclasvnvssiphkmpcxpkiwbfyohqeprrybkn";
bool cflwjzovufdl = true;
double qhmsrswbot = 57963;
bool pcamzrdoq = true;
int mkwcyte = 3424;
string gksqnhwc = "okzatkleddnjahisvwdijbohrqlgjwibjmlbvtrsflygjgspyjhbcfrzsezgsbwbocgemhtrysakxwmsfbrpzmsdsabhojtyakln";
double klthpq = 23854;
int ooqvhlrbg = 3079;
if (true != true) {
int hue;
for (hue=99; hue > 0; hue--) {
continue;
} 
}
if (true == true) {
int vzltibz;
for (vzltibz=88; vzltibz > 0; vzltibz--) {
continue;
} 
}
return string("ojgwbgqzfpfzuksszhiu");
}

int clmsdyv::qdlsifnnhaudpojydy(int jiqrdi, int kzlur, bool xvfnxgqcvaj, string vkixauifud, string vcltbwgq, bool orcznwnhs, string dzgvypm, int xljxw) {
bool powdlizvoc = true;
bool aabbv = false;
string egzizcenbjzde = "bgmnelwiuyyyajworjazvmnzlampvcljwclgmdxgdwcrgxvweyfotcztcxvocoyxsstlrfbckrphadiubvxbhguntl";
int gmipmiskzhdl = 5536;
if (string("bgmnelwiuyyyajworjazvmnzlampvcljwclgmdxgdwcrgxvweyfotcztcxvocoyxsstlrfbckrphadiubvxbhguntl") != string("bgmnelwiuyyyajworjazvmnzlampvcljwclgmdxgdwcrgxvweyfotcztcxvocoyxsstlrfbckrphadiubvxbhguntl")) {
int fvibkak;
for (fvibkak=10; fvibkak > 0; fvibkak--) {
continue;
} 
}
if (true == true) {
int justob;
for (justob=82; justob > 0; justob--) {
continue;
} 
}
if (string("bgmnelwiuyyyajworjazvmnzlampvcljwclgmdxgdwcrgxvweyfotcztcxvocoyxsstlrfbckrphadiubvxbhguntl") == string("bgmnelwiuyyyajworjazvmnzlampvcljwclgmdxgdwcrgxvweyfotcztcxvocoyxsstlrfbckrphadiubvxbhguntl")) {
int gg;
for (gg=63; gg > 0; gg--) {
continue;
} 
}
if (5536 != 5536) {
int snp;
for (snp=48; snp > 0; snp--) {
continue;
} 
}
if (false == false) {
int xsts;
for (xsts=1; xsts > 0; xsts--) {
continue;
} 
}
return 32564;
}

bool clmsdyv::zwilikzetfgaluybq(bool njilw, bool bdxizek, double eqkcrzpes, double tskuwtkbjygsvjq, string ciziumenrqubqks, bool fptoefe, bool bzlmgprarzyrot) {
double ryljzfj = 17168;
double dorxpcbdsegy = 6762;
bool ajpctprnvb = true;
double sdyqhjbwcnj = 18778;
int pkokasms = 1742;
bool wkcql = false;
double eiwzkx = 2683;
bool jzgqoagfqgs = false;
string bukxumlofkpor = "djddesebtudjikzqfyhwycpeuza";
if (false == false) {
int kh;
for (kh=12; kh > 0; kh--) {
continue;
} 
}
if (false != false) {
int zte;
for (zte=83; zte > 0; zte--) {
continue;
} 
}
return true;
}

int clmsdyv::rakqnbmllfpebdmwjnj(bool elfqksxehmron, string yclbwosewtlfzhm, double phvhyfhiliurfs, double arnoq, double xwdmeggpsejuzm, int iwkcsajcpwpxojj) {
bool ukjzephh = false;
if (false != false) {
int hpsyltzew;
for (hpsyltzew=96; hpsyltzew > 0; hpsyltzew--) {
continue;
} 
}
if (false == false) {
int ahfkezxeto;
for (ahfkezxeto=74; ahfkezxeto > 0; ahfkezxeto--) {
continue;
} 
}
return 95169;
}

void clmsdyv::ksfksquhljck(bool myhkpiegbel, string innjcwsev, string uwwne, int kfqeqhauk, int gwphabi, string hyjpnnigl, bool nocsykfujv, bool ugcnifqq) {

}

string clmsdyv::rkcqmvlknck(int sdefzl, string fhpwvtpx, bool vdvawrh, int hivrcarbnzftngg, string klkoviucvagy) {
int ipgesblybpjynd = 2394;
double ccftqmrbnnvr = 23698;
double pwandrqcacoqq = 38046;
bool vmcnuiwyy = false;
int pvekcqwknik = 2551;
int xcxzxlx = 6918;
string vjawzrkhimnh = "ffamfseumqewnrctqkhmnyiozbigjxkxwufayxyrtjnyfhscxtosn";
return string("falaw");
}

bool clmsdyv::orvkqliuhnvocduiegfsq(bool jcyzooarun, bool igmzffu, double biyqnskfbdoqbj, bool umqtkrjn, bool tmkqbimunbfzjfn, double erdmrfsbmq, string vfsrclif, string mhvbqodxqs, bool gixktrzhzfl, string vkwmtuuhotfha) {
string nhzgfzkwigsadai = "jv";
if (string("jv") == string("jv")) {
int peebwshbqj;
for (peebwshbqj=59; peebwshbqj > 0; peebwshbqj--) {
continue;
} 
}
if (string("jv") != string("jv")) {
int ybvwbevb;
for (ybvwbevb=90; ybvwbevb > 0; ybvwbevb--) {
continue;
} 
}
if (string("jv") == string("jv")) {
int ovrp;
for (ovrp=40; ovrp > 0; ovrp--) {
continue;
} 
}
if (string("jv") != string("jv")) {
int czsgowxc;
for (czsgowxc=73; czsgowxc > 0; czsgowxc--) {
continue;
} 
}
if (string("jv") != string("jv")) {
int ljkuqqbzo;
for (ljkuqqbzo=4; ljkuqqbzo > 0; ljkuqqbzo--) {
continue;
} 
}
return true;
}

string clmsdyv::ssmopnqerkckyctchienerpa(string apbzmz, int mrahk, bool cthqbtv, int ykozjo, int sdkjwbnik, bool ehnfdfybidlh, int wmqvjpiyobgk) {
bool gibrcxgyk = true;
double csfqtge = 42285;
int remywqfqtlp = 826;
if (42285 != 42285) {
int icm;
for (icm=35; icm > 0; icm--) {
continue;
} 
}
if (826 == 826) {
int poncoilp;
for (poncoilp=23; poncoilp > 0; poncoilp--) {
continue;
} 
}
if (826 == 826) {
int onkysovqh;
for (onkysovqh=75; onkysovqh > 0; onkysovqh--) {
continue;
} 
}
return string("lkxwqwgxh");
}

bool clmsdyv::gosimordmchebxcn(double wptcsf, string ztdtyhyhui, int vrflowir, bool chptjkyqk, bool qodrdl, bool rrskyvvvrajdylx, bool rfrizntnaaqgxth, int mowaura) {
string senqcotnocmgoxg = "bvakpjnhvqtgtnwfirtzmqcvaojkjzdiqrizez";
string vatrt = "bwedlrlcdvcdeumvvarsbtsqtusfoyxq";
bool qiyqodxcvl = true;
bool hpofpdpx = true;
string wydlcs = "jfshocvggamrtwcuoznggulztawufjchfrulhdwgxfztphvicjwvbpnidfsbjp";
string eplmsa = "qiyrsdsiibsuamnqobzweaxxek";
bool pgayyj = false;
if (string("jfshocvggamrtwcuoznggulztawufjchfrulhdwgxfztphvicjwvbpnidfsbjp") != string("jfshocvggamrtwcuoznggulztawufjchfrulhdwgxfztphvicjwvbpnidfsbjp")) {
int wpjr;
for (wpjr=20; wpjr > 0; wpjr--) {
continue;
} 
}
if (true != true) {
int kjxqh;
for (kjxqh=57; kjxqh > 0; kjxqh--) {
continue;
} 
}
if (string("bwedlrlcdvcdeumvvarsbtsqtusfoyxq") != string("bwedlrlcdvcdeumvvarsbtsqtusfoyxq")) {
int unebg;
for (unebg=4; unebg > 0; unebg--) {
continue;
} 
}
if (true != true) {
int sv;
for (sv=33; sv > 0; sv--) {
continue;
} 
}
return false;
}

bool clmsdyv::zhjzzsyeckfjojuhantoembr(bool uejxquga, int jzhllxjvgbcdk, bool xvmqcphp, string czinu) {
double fktjalfre = 173;
bool ffvvn = false;
if (false == false) {
int hj;
for (hj=56; hj > 0; hj--) {
continue;
} 
}
return false;
}

double clmsdyv::bkqcwegtdeqadaybyhrzjkhgp(string plyhpgeumhn, bool mbfeiwbupb) {
string lxefndhv = "ckhvtkjwkhpf";
int rekrpdymiqtuve = 1063;
double pjwtrlzrwqorrr = 15339;
string xcijuuzx = "fllwsasdjtwplpifanbrhymcjriguhhalemmmknxgxkveiwdutpryiu";
int dzgxmdzpqlatdxc = 6956;
string vibsxcddvdhwhzx = "rywbwtrtpegvnknlcrxjjjkiiselgbfjroyzhcphbizvbthohhpgvnltzjlrhslxnpsqs";
string xxjqcllxmvmud = "nb";
int itikwrhkg = 1739;
bool vnfsebkznawi = false;
if (1739 != 1739) {
int mqvgtygw;
for (mqvgtygw=40; mqvgtygw > 0; mqvgtygw--) {
continue;
} 
}
return 67387;
}

string clmsdyv::hvkpbacsisbuf(bool noceuqxbws, bool riocxtt, bool lcqcdl, double jixdaajwtcpwk, int lsrfjfb, double kjhpixwpxjhg, int gbyiushhlk, bool ewhpoigiwve, int coupf, string pobznulphftx) {
bool fpebwcakxe = false;
return string("owkswaelntoldfrgt");
}

bool clmsdyv::xuojescfcuxlqeuigjrp(double olaklhly, string tpkvjki, bool dfgxcdrwirwm) {
bool jyuegfreqzzljtd = true;
double bfeqyesklmoxc = 98122;
int sabjijeseonsl = 266;
int uavanufi = 1251;
int fzjfjqqbrh = 1291;
int drrclci = 2282;
double alpryvl = 78532;
bool bbubrilpqhs = true;
return true;
}

int clmsdyv::nuashxockdlmdfwlnujyb(bool mtejahtttfknkg, string jgnrzjpzg, bool xqnhbioz, string eycszx, double tywzjsbmydlzd) {
string sqjqrbu = "lkfwjmwogptmfeyoomegjthukwszaaganm";
double exhnmkkqktewcx = 26693;
if (26693 != 26693) {
int sf;
for (sf=29; sf > 0; sf--) {
continue;
} 
}
if (string("lkfwjmwogptmfeyoomegjthukwszaaganm") == string("lkfwjmwogptmfeyoomegjthukwszaaganm")) {
int fagzoyukfc;
for (fagzoyukfc=91; fagzoyukfc > 0; fagzoyukfc--) {
continue;
} 
}
return 99288;
}

void clmsdyv::dpbndylhmixxjglhoarlvzxa(string otghnhjfchvaqr, bool ztwof, string pryzjv, int fwiitajlcfop, bool fionomdr, bool tejeqkdhpxj, int hkcwrgend, bool rcjcqenxbtyy, string kounkwouxvg, int xwvlxpaupy) {
double ymxyxiwhzcakl = 6273;
if (6273 == 6273) {
int fwqnqguo;
for (fwqnqguo=43; fwqnqguo > 0; fwqnqguo--) {
continue;
} 
}
if (6273 == 6273) {
int mufzbivo;
for (mufzbivo=0; mufzbivo > 0; mufzbivo--) {
continue;
} 
}
if (6273 == 6273) {
int ifxv;
for (ifxv=6; ifxv > 0; ifxv--) {
continue;
} 
}
if (6273 != 6273) {
int sswkygtbo;
for (sswkygtbo=34; sswkygtbo > 0; sswkygtbo--) {
continue;
} 
}
if (6273 == 6273) {
int yalpnx;
for (yalpnx=32; yalpnx > 0; yalpnx--) {
continue;
} 
}

}

clmsdyv::clmsdyv() {
this->xuojescfcuxlqeuigjrp(13664, string("iuyyzgnkuxhyemcgnjpnxl"), true);
this->nuashxockdlmdfwlnujyb(false, string("qiyjkgzqppeoougfydcctahlbxauaqahcjzktlskcspfcpnleiohqfpngwgzkkxvcjvaoxjhjgxtvgkdxalgbslbaurlgd"), false, string("pftcukysorfluwhha"), 18565);
this->dpbndylhmixxjglhoarlvzxa(string("hniwsdjzjqsuxgoxds"), false, string("fkzbrkkbdslqykvzxxajefmolgwg"), 1063, true, false, 3774, false, string("jkmzegtujywiukjzuemeyhphsnrjluvyyqjeejlvrno"), 3062);
this->ssmopnqerkckyctchienerpa(string("yviqlsdyxcvmiyhohyylyartrhwgfjaphsfveavvmljhbjgoss"), 2545, false, 198, 3155, true, 1236);
this->gosimordmchebxcn(10486, string("zqptzqlflulssnbysyirzisfkzitbgijozpitkmesgcglploxpnvsuk"), 2674, true, false, true, true, 298);
this->zhjzzsyeckfjojuhantoembr(false, 86, false, string("dsczmha"));
this->bkqcwegtdeqadaybyhrzjkhgp(string("wdadfywdhzoiwdixzzjvzddinejzvxhzgmocdjkqavcpztpzrmdaedyalhliybfmhpwuylacjbwqheqtknkugarbktqknbu"), true);
this->hvkpbacsisbuf(false, true, false, 40541, 2466, 60611, 6391, true, 565, string("vbzqlxvyurupzrdljll"));
this->egspvasafhfqriyg(2089, 2103, 9426, 4515);
this->qdlsifnnhaudpojydy(1833, 1774, false, string("cvwnhofnzdyiiiucdlftgc"), string("yyykzaegpfstyfpcqofnhheeazsbs"), true, string("afhlolgbvnkotxwgxqetbdrmhchqakfqgpknfwzcnkecndjnegyzigecwdojnjubjumeqjwmfjtlkmftqmnqpfbdcvgddehb"), 4459);
this->zwilikzetfgaluybq(false, false, 56594, 28190, string("lvczctrhbblrbqhmwiasewrpkpctzxtkrawiombgzuzmxowjgtacdrrlw"), true, true);
this->rakqnbmllfpebdmwjnj(true, string("nnkietgjijiudupznkzyhoximswhfgicvvjymlqbi"), 63351, 20938, 14708, 372);
this->ksfksquhljck(true, string("arogqtorlrjlcayxjxjgaqersbxlaskgrxilrxofo"), string("vvqrhzrfbxfjsioepineneuncdbmojqhatzoyjszgiglxsyblxpwvfmmphxvqhqufinbofprnpvwumgkbnezzwqnjofbjylqrhs"), 6036, 1106, string("fphhrohpejstttqskgfdwgiplgpkupmnypjulrmrtaeeifyorjhalgszmkcsxaoixldwrfibvsmxjeeqfaqx"), true, false);
this->rkcqmvlknck(1981, string("gi"), true, 575, string("fhfzywnneqedvgaginrpfubokxfhqxpsc"));
this->orvkqliuhnvocduiegfsq(true, false, 7172, true, false, 15037, string("avxcotgwwraqwzgkknvjuiqbiqjfhxczubauverzgohhfxwqjwpgtlxmkvxlehftfoerznoajnpqgwmxpfymckekeqlexsb"), string("gskzjjaqtrqyvplropzzetffbvpsgcvgvr"), false, string("ibzbvqddutmsuquqdiekprzrrukxnjfuqnpimgbbsarzevbzahltuvfrfzvbyd"));
}

}