/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* idhuvudets utseende */
.sidhuvud {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.sidhuvud img {

}
.sidhuvud ul {
    list-style-type: none; /* Tar bort punkterna */
    margin: 30px 30px 0 0;
}
.sidhuvud li {
    display: inline; /* Horisontellt */
    margin-left: 30px   ;
}
.sidhuvud li a {
    text-decoration: none;
    color: #682F1C;
    font-size: 24px;
    text-transform: uppercase;

}
.sidhuvud li a:hover {
    color: #B6978A;
}
.sidhuvud li .aktiv {
    color: #F7A600 ;
}


/* Rutornas utseende */
/* Ljus #FEF1E5 */
/* Mörk #EFDAC5 */
.rutor {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.ljus {
    background: #FEF1E5;
}
.mörk {
    background: #EFDAC5;
}
.rutor .burgare{
    text-align: center;
}
.rutor .burgare h1{
    text-align: center;
    color: #682F1C;
    margin-top: 150px   ;
}
.rutor .burgare h2{
    text-align: center;
    color: #682F1C;
}
.rutor .burgare img{
    width: 80%;
    transition: all 0.2s;
}
.rutor .burgare img:hover{
    width: 90%;
}

.rutor .burgare p{
    text-align: center;
    color: #682F1C;
    margin-bottom: 20px ;
    font-size: 20px;
    text-transform: uppercase;
}




